#map{
	    width: 54%;
    height: 17%;
    margin-top: 10%;
}

/*nav{
	background-color: yellow;
}

footer{
	position: absolute;
	bottom: 0px;
}*/

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 footer.page-footer{
  	position: absolute !important;
  	bottom: 0px !important;
  }

  #googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}