#map{
	    width: 54%;
    height: 17%;
    margin-top: 10%;
}

/*nav{
	background-color: yellow;
}

footer{
	position: absolute;
	bottom: 0px;
}*/

 body {
   /* display: flex;*/
    min-height: 100vh;
   /* flex-direction: column;*/
    background-color: purple;
  }

 /* main {
    flex: 1 0 auto;
  }*/
/*
 footer.page-footer{
  	position: absolute !important;
  	bottom: 0px !important;
  }*/

  #googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#map2{
      overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
    width: 100%;
    min-height: 100%;
    position: fixed !important;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.cimg{
  width: 50%;
  margin: 0;
}

.row{
  margin: 0;
}